page-level2 {
    .body{
        background-color: #2788CC;
        
    }

    .header{
        color:white;
        background-color: #EC6F14;
        font-family: cursive;
        font-size: 3em;
        text-align: center;
        padding: 10px;
        height: 20%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .ques{
        text-align: center;
        height: 15%;
    }
 
    .b{
        padding:  10px;
        margin-top: 10px;
        background-color: #EC6F14;
        font-size: x-large;  
        text-align: center;
    }
   
   

    .ops{
        height: 450px;
    }

    .op{
        background-color: transparent;
        padding: 35px;
        margin-top: 15px;
        background-color: #EC6F14;
        border-radius: round($number: 25px);
                
    }

    footer{
        text-align: center;
        color: rgb(224, 135, 72);
        font-size: 1.3em;
        height: 10%;
    }

    h1{
        padding: 5%;
    }
}
