page-home {
    .body{
        position: relative;
        background-color: #2788CC;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .con{
        color: white;
        font-family: cursive;
        font-size: 2em;
        text-align: center;
        padding: 10px;
    }

    .b{
        position: relative;
        margin-top: 10%;
        font-size: 1.7em;
        text-align: center;
        margin-left: 30%;
        color: #EC6F14;
    }
    .header{
        color: white;
        font-family: cursive;
        font-size: 2em;
        text-align: center;
        padding: 10px;
    }

    .pic{

    }

}
