page-intro {
    .body{
        background-color: #2788CC;
    }
    .b{
        padding: 35px;
        margin-top: 15px;
        background-color: #EC6F14;
        font-size: 2em;
    }
    .cat{
        margin-top: 10%;
        font-size: 3em;
        color: white;
        text-align: center;
    }
    .buttons{
        margin-top: 10%;
        padding: 5px;
    }
    .par{
        color: rgb(241, 154, 92);
        padding-top: 2%;
        font-size: 1.7em;
        text-align: center;
    }

}
